body{
  /* width: 1400px; */
  height: 100%;
  background: black;
  color: white;
}
a{
  text-decoration: none;
  color: cyan;
}
a:hover{
  color: magenta;
  /* border-top: 0.5px solid yellow; */
}
img{
  width: 200px;
  height: 120px;
  -moz-transform: scale(1);
}

.grid 
{
  float :left;
  width: 16%;
  padding: 1px;
  margin: 2px; 
  border: 1px solid magenta;
}
div.grid:hover{
  -moz-transform: scale(1.025);
  z-index: 3;
  position: relative;
  background: black;
}

.user > p{
  position: relative;
  left: 0;  
  padding:0;
  margin:0;
  border: 1px dotted black;
  width: 100%;
  height: 3%;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;  
  -moz-transform: scale(0.9);
}

.center, .center > a {
  text-align: center;
}


.user > p{
  font-size: 10px;
  line-height: 0.8;
  position: relative;
  left: 0;  
  margin:0;
  padding:0;
  width: 98%;
  height: 1.5%;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;  
  -moz-transform: scale(0.9); 
  /* border: 0.5px solid white; */

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
p > form{
  position: relative;
  display: block;
  float: right; 
}
#banner{
  width: 100%
  padding: 0;
  margin: 0;
}
#home {
  position: absolute;
  top: -25px;
  left: 5px;
  width: 50%
  padding: 0;
  margin: 0;
}

#search{
  padding: 0;
  margin: 0;
  float: right
  width: 50%;
  line-height: 0.8;
  text-align: right;
}
#search>form{
  padding: 0;
  margin: 0;  
}
.page{
  text-align: center;
  margin: 5px;
  font-size: 25px;
}
.pages{
  text-align: center;
  margin: 5px;
  width: 100%;
}
.location > a{
   line-height: 0.8;
   font-size: 10px;
   color: white;
   text-decoration: none;
}
.location > a:hover{
  color: magenta;
}
