body{
  /* width: 1400px; */
  height: 100%;
  background: black;
  color: white;
  /* background-image: url("/media/background.png"); */
  background-image: url("/media/bg_net.jpg") ;
}
a{
  text-decoration: none;
  color: cyan;
}
a:hover{
  color: magenta;
  /* border-top: 0.5px solid yellow; */
}
img{
  width: 200px;
  height: 120px;
  -moz-transform: scale(1);
}

.grid 
{
  float :left;
  width: 15%;
  padding: 1px;
  margin: 2px; 
  border: 1px solid magenta;
  background: black; 
}
div.grid:hover{
  -moz-transform: scale(1.025);
  z-index: 3;
  position: relative;
  background: black;
}

.center, .center > a {
  text-align: center;
}

.user{
  /* position: relative; */
}
.user > ul{
  font-size: 10px;
  line-height: 0.8;
  position: relative; 
  left: 25px;
  margin:2px;
  padding:0;
  width: 80%;
  height: 1.5%;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;  
  -moz-transform: scale(0.92); 
}
.user > .extra > li{
  float: left;
  margin-right: 2%;
  list-style: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
p > form{
  position: relative;
  display: block;
  float: right; 
}
#banner{
  width: 100%
  padding: 0;
  margin: 0;
}
#home {
  position: absolute;
  top: -25px;
  left: 5px;
  width: 50%
  padding: 0;
  margin: 0;
}

#search{
  padding: 0;
  margin: 0;
  float: right
  width: 50%;
  line-height: 0.8;
  text-align: right;
}
#search>form{
  padding: 0;
  margin: 0;  
}
.current_page, .page{
  text-align: center;
  margin: 5px;
  font-size: 25px;
}
.pages{
  text-align: center;
  margin: 5px;
  width: 100%;
}
.new{ 
  position: relative;
  width: 100%;
}
.new>ul{
  display: block; 
  /* width: 5%; */
  /* float: left; */
  position: absolute;
  /* padding:0; */
  /* margin:0; */
  right: 5px; 
}
.new>ul>li{
  float: left; 
  width: 50px;
  list-style: none;
}
.new>div>a, .location > a{
   line-height: 0.8;
   font-size: 10px;
   color: white;
   text-decoration: none;
}
.new>div>a, .location > a:hover{
  color: magenta;
}

