body{
  /* width: 1400px; */
  height: 100%;
  background: black;
  color: white;
}
img{
  width: 200px;
  height: 132px;
  -moz-transform: scale(1);
}
.user, .loc{
  line-height: 0.8;
  /* background: red; */
  padding: 0;
  margin: 0;
}
.user{
  color: cyan;
}
.grid 
{
  /* text-align: center; */
  line-height: 0.8;
  float :left;
  width: 16%;
  margin:5px;
  padding:0;
  left: 0;
  border: 1px solid magenta;
}

div.grid:hover{
  -moz-transform: scale(1.05);
  z-index: 3;
  position: relative;
  background: black;
}

.center {
  text-align: center;
}


.user > p{
  font-size: 10px;
  line-height: 0.8;
  position: relative;
  left: 0;  
  margin:0;
  padding:0;
  width: 98%;
  height: 1.5%;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;  
  -moz-transform: scale(0.9); 
  /* border: 0.5px solid white; */

}

.grid > p {
  position: relative;
  text-align: left;
  left: 10px;
}

b.page{
  font-size: 24px;
}
