body{
  /* width: 1400px; */
  height: 100%;
  background: black;
  color: white;
  /* background-image: url("/media/background.png"); */
  background-image: url("/media/bg_net.jpg") ; 
  /* background-image: url("/media/bg_fph.jpg") ; */
}
.notice{
  height: 400px;
  /* display: flex; */
  align-items: center;
  justify-content: center;  
}
.alert{
  width: 20em;
}
#home{
  /* float: left; */
  /* display: block; */
  /* position: relative; */
  height: 100%; 
}
ul.category{
}

ul.category li{
  list-style: none;
  margin-left: 30px; 
  padding: 0;
  height: 20px;
  display: block;
  float: left;
}

#logo{
  position: absolute;
  top: 30px;
  left: 10px;
  height: 60px;
  width: 60px;
}
a{
  text-decoration: none;
  color: cyan;
}
a:hover{
  color: magenta;
  /* border-top: 0.5px solid yellow; */
}
img{
  width: 200px;
  height: 120px;
  -moz-transform: scale(1);
}
#header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;  
}
.navitem{
  flex: 300px;
}
#grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}
.item{
  flex: 200px;
}
